/*!Pure v0.6.2*/
.pure-menu {
	box-sizing:border-box
}
.pure-menu-fixed {
	position:fixed;
	left:0;
	top:0;
	z-index:3
}
.pure-menu-item,.pure-menu-list {
	position:relative
}
.pure-menu-list {
	list-style:none;
	margin:0;
	padding:0
}
.pure-menu-item {
	padding:0;
	margin:0;
	height:100%
}
.pure-menu-heading,.pure-menu-link {
	display:block;
	text-decoration:none;
	white-space:nowrap;
	margin-right: 35px;
}
.pure-menu-horizontal {
	width:100%;
	white-space:nowrap
}
.pure-menu-horizontal .pure-menu-list {
	display:inline-block
}
.pure-menu-horizontal .pure-menu-heading,.pure-menu-horizontal .pure-menu-item,.pure-menu-horizontal .pure-menu-separator {
	display:inline-block;
	zoom:1;
	vertical-align:middle
}
.pure-menu-item .pure-menu-item {
	display:block
}
.pure-menu-children {
	display:none;
	position:absolute;
	left:100%;
	top:0;
	margin:0;
	padding:0;
	z-index:3
}
.pure-menu-horizontal .pure-menu-children {
	left:0;
	top:auto;
	width:inherit
}
.pure-menu-active>.pure-menu-children,.pure-menu-allow-hover:hover>.pure-menu-children {
	display:block;
	position:absolute
}
.pure-menu-has-children>.pure-menu-link:after {
	/*padding-left:.5em;*/
	content:"\25B8";
	font-size:small
}
.pure-menu-horizontal .pure-menu-has-children>.pure-menu-link:after {
	content:"\25BE"
}
.pure-menu-scrollable {
	overflow-y:scroll;
	overflow-x:hidden
}
.pure-menu-scrollable .pure-menu-list {
	display:block
}
.pure-menu-horizontal.pure-menu-scrollable .pure-menu-list {
	display:inline-block
}
.pure-menu-horizontal.pure-menu-scrollable {
	white-space:nowrap;
	overflow-y:hidden;
	overflow-x:auto;
	-ms-overflow-style:none;
	-webkit-overflow-scrolling:touch;
	padding:-.5rem 0rem
}
.pure-menu-horizontal.pure-menu-scrollable::-webkit-scrollbar {
	display:none
}
.pure-menu-horizontal .pure-menu-children .pure-menu-separator,.pure-menu-separator {
	background-color:#ccc;
/*	height:1px;
	margin:.3rem 0*/
}
.pure-menu-horizontal .pure-menu-separator {
	width:1px;
/*	height:1.3rem;
	margin:0 .3rem*/
}
.pure-menu-horizontal .pure-menu-children .pure-menu-separator {
	display:block;
	width:auto
}
.pure-menu-heading {
	text-transform:uppercase;
    letter-spacing: .1rem;
	color:#000;
    font-weight: 400;
}
.pure-menu-link {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .1rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #000; 
}
.pure-menu-children {
	background-color:#fff
}
.pure-menu-disabled,.pure-menu-heading,.pure-menu-link {
	/*padding:.5rem 1rem*/
}
.pure-menu-disabled {
	opacity:.5
}
.pure-menu-disabled .pure-menu-link:hover {
	background-color:transparent
}
.pure-menu-active>.pure-menu-link,.pure-menu-link:focus,.pure-menu-link:hover {
	background-color:#eee
}
.pure-menu-selected .pure-menu-link,.pure-menu-selected .pure-menu-link:visited {
	color:#000
}

.custom-menu-wrapper {
    white-space: nowrap;
    position: relative;
    display: block;
    height: 6.5rem;
    z-index: 1000;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; 
}

.custom-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}
.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
    background-color: transparent;
}
.custom-menu-top {
    position: relative;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.custom-menu-brand {
    display: block;
    text-align: center;
    position: relative;
}
.custom-menu-toggle {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    display: none;
}
.custom-menu-toggle .bar {
    background-color: black;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 22px;
    right: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.custom-menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}
.custom-menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.custom-menu-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.custom-menu-tucked .custom-menu-screen {
    -webkit-transform: translateY(-44px);
    -moz-transform: translateY(-44px);
    -ms-transform: translateY(-44px);
    transform: translateY(-44px);
}

@media (max-width: 62rem) {
    .custom-menu {
        display: block;
    }
    .custom-menu-toggle {
        display: block;
        display: none\9;
    }
    .custom-menu-bottom {
        position: absolute;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: #808080\9;
        z-index: 100;
    }
    .custom-menu-wrapper{
        margin-bottom: 4rem;
    }
    .custom-menu-bottom .pure-menu-link {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transform: translateY(1.5rem);
        -moz-transform: translateY(1.5rem);
        -ms-transform: translateY(1.5rem);
        transform: translateY(1.5rem);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }
    .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        transform: translateX(-140px);

        opacity: 0;
        opacity: 1\9;
    }
    .pure-menu-horizontal.custom-menu-tucked {
        z-index: -1;
        top: 45px;
        position: absolute;
        overflow: hidden;
    }
    .pure-menu-scrollable{
        margin-bottom: 10rem;
    }
}